.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: monospace;
  
  }
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
header{
  padding: 40px;
  text-align: center;
  background: white;
  font-size: 30px;
}
h1{
  color:black;
  font-family: monospace
}

body{
  background-color: black;
}
.interests{
    padding: 40px;
    text-align: center;
    background: white;
    font-size: 30px;
}
ul{
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
   








